
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>针对近期各种新闻和事件的吐槽(2) - MWB日常笔记</title>
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-precomposed-144x144.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-precomposed-114x114.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-precomposed-72x72.png">
        <link rel="stylesheet" href="http://cdn.atime.me/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="http://cdn.atime.me/font-icons/style.min.css" type="text/css" />
        <link rel="stylesheet" href="http://blog.atime.me/theme/css/niu2.min.css" type="text/css" />
        <link rel="canonical" href="http://blog.atime.me/life/2015-04-recent-tucao.html" />
        <script type="text/javascript">window.onload=function(){};</script>
        <!--[if lt IE 9]>
            <script src="http://blog.atime.me/theme/js/html5shiv.js"></script>
            <script src="http://blog.atime.me/theme/js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body> 
        <div id="body-header">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="col-md-12">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="http://blog.atime.me">
                            <i class="icon-home"></i>MWB日常笔记
                        </a>
                    </div>
                    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                        <ul class="nav navbar-nav">
                            <li><a href="/about.html" title="about me">
                                <i class="icon-anchor"></i>关于</a>
                            </li>
                            <li><a href="/agreement.html" title="agreement">
                                <i class="icon-exclamation-circle"></i>使用协议</a>
                            </li>
                            <li><a href="/my_projects.html" title="my projects">
                                <i class="icon-rocket"></i>项目</a>
                            </li>
                            <li><a href="/tag/" title="tags">
                                <i class="icon-tag"></i>标签</a>
                            </li>
                        <!-- category dropdown list -->
                        <li class="dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-folder-open"></i>分类<b class="caret"></b>
                           </a>
                           <ul class="dropdown-menu">
                               <li><a href="http://blog.atime.me/code/index.html">
                                      <i class="icon-code"></i>代码
                                      (8)</a></li>
                               <li><a href="http://blog.atime.me/collection/index.html">
                                      <i class="icon-briefcase"></i>搜藏
                                      (28)</a></li>
                               <li><a href="http://blog.atime.me/essay/index.html">
                                      <i class="icon-leaf"></i>随笔
                                      (10)</a></li>
                               <li><a href="http://blog.atime.me/life/index.html">
                                      <i class="icon-coffee"></i>日常
                                      (22)</a></li>
                               <li><a href="http://blog.atime.me/note/index.html">
                                      <i class="icon-book"></i>笔记
                                      (105)</a></li>
                               <li><a href="http://blog.atime.me/research/index.html">
                                      <i class="icon-flask"></i>研究
                                      (7)</a></li>
                           </ul>
                        </li>
                        <!--  self defined dropdown list -->
                        <li class="dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                               <i class="icon-archive"></i>存档<b class="caret"></b>
                           </a>
                           <ul class="dropdown-menu">
                               <li><a href="/archives.html" title="archives order by publish time">
                                 <i class="icon-calendar"></i>存档 (按发布时间)</a>
                               </li>
                               <li><a href="/archives_updatedate.html" title="archives order by modify time">
                                 <i class="icon-pencil"></i>存档 (按修改时间)</a>
                               </li>
                           </ul>
                        </li>
                        </ul>
                        
                        <!-- right nav bar -->
                        <ul class="nav navbar-nav navbar-right">
                        <!-- google custom search -->
                        <li>
                        <div id="niu2-cse-wrapper">
                            <div id="niu2-cse-header-box" class="navbar-form navbar-nav">
                                <form action="http://google.com/cse">
                                    <input type="hidden" name="cx" value="016368690064160370938:8u3wwjza9c4" />
                                    <input type="hidden" name="ie" value="UTF-8" />
                                    <div class="form-group">
                                        <input id="niu2-cse-search-input" class="niu2-cse-header form-control" 
                                            type="text" name="q" 
                                            placeholder="按回车开始搜索 ..."/>
                                    </div>
                                </form>
                           </div>
                           <div id="niu2-cse-ctrl-box" class="navbar-nav">
                            <i id="niu2-cse-search-image" class="icon-search navbar-nav"></i><span id="niu2-cse-search-text">搜索</span>
                           </div>
                       </div>
                       </li>
                       </ul>
                    </nav>
                </div>
            </div>
        </div>

        <div id="body-content">
            <div class="col-md-8 col-md-offset-2">
                <h1 id="content-heading">针对近期各种新闻和事件的吐槽(2)</h1>
            </div>
            <div id="niu2-left-container" class="col-md-6 col-md-offset-2 with-right-border">
                <div id="niu2-main-content">
                    <html><head></head><body><p>又是吐槽时间，来发泄一下吧。</p>
<h2 id="138653">将整风运动进行到底</h2>
<p>最近动漫界的风一直很大，很多猪没带降落伞就被吹上了天空，估计是不能come back in one piece了。</p>
<p>大视频站删掉了"问题动漫"，无非是损失些版权费；小站直接先关停，然后再商量问题。以前有门路的人好发财，现在经济形势不好，有门路的人可以少挨一刀。</p>
<h2 id="3b3fcd">反正我是信了</h2>
<p>据国家统计局发布的可靠消息，今年一季度的GDP增速是7%，不多不少十分精确。数据公布没多久，就有券商的分析师发文打统计局的脸，说什么<a href="http://wallstreetcn.com/node/216728">7%不准</a>。</p>
<p>这么明目张胆的唱反调又是何必呢，是鹿还是马，人家才有最终解释权。</p>
<p>不管怎么说，反正我是信了。</p>
<h2 id="f454fb">会哭的孩子有奶喝</h2>
<p>话说之前经常看券商的研报，特别是那些分析中国宏观经济的。文章里各路专家纷纷出谋划策，忧国忧民，看完后让你真心觉得这些人才是国人的良心。</p>
<p>不过后来看的多了，发现这些研报有一些共同点：</p>
<ol>
<li>中国的经济现状很差。</li>
<li>解决的办法是放水放水再放水。</li>
<li>Over</li>
</ol>
<p>然后：</p>
<ol>
<li><a href="http://news.163.com/15/0420/00/ANJSDQ5B00014AED.html">央行今日起正式降准1% 分析称利好当下股市</a></li>
<li><a href="http://kuaixun.stcn.com/2015/0427/12204111.shtml">证券公司一季度净利逾500亿 超去年全年一半</a></li>
<li>F***</li>
</ol>
<p>Long long ago, 我爸常对我说，像我这么老实靠谱的孩子，要是搁在毛主席时代，那绝对是顶呱呱的受欢迎，当时我还挺沾沾自喜。</p>
<p>然后，岁月是把杀猪刀，刀刀催人老。</p>
<p>感谢那些把我的人生观和价值观掰弯的人和事，我总算在GAME OVER之前就明白了会哭有奶喝的道理。</p>
<h2 id="28234a">能赚钱的牛就是好牛</h2>
<p>今年不是牛年，但是股市牛气冲天。据称，<a href="http://business.sohu.com/20150416/n411360991.shtml">中国股市飙升 两个月内新增41个亿万富豪</a>，上证昨天更是站上了4500点。前期跑步入场的中国大妈这次总算一举挽回了炒黄金时落下的面子和里(chao)子(piao)。</p>
<p>有人说中国股市是疯牛，其实疯牛也好赌牛也罢，只要<strong>国家</strong>和人民<strong>需要</strong>，能赚钱的牛就是好牛。。。</p>
<h2 id="e55772">一切皆有可能</h2>
<p>前段时间，福建漳州的PX工厂爆炸了，当时在网上看到路人拍摄的爆炸远景照片，我还以为是恐怖分子引爆了一颗小当量的核弹。。。</p>
<p>媒体称没有人员伤亡，也没有造成任何污染。。。</p>
<p>坚信，一切皆有可能。</p>
<h2 id="377cf8">呵呵不是骂人</h2>
<p>最近辗转看到一篇文章：<a href="http://www.infzm.com/content/108930">李老师</a>，把我乐的不行。看完后也有些怀念小时候的学习生涯，虽然从小到大接受的都是应试教育，不过二逼青年欢乐多，还是有些美好的回忆。</p>
<p>呵呵。</p>
<h2 id="01c392">这就是属于我们的现实</h2>
<p>在solidot上看到一条<a href="http://www.solidot.org/story?sid=44154">新闻</a>：据境外敌对势力<a href="https://citizenlab.org/2015/05/a-chatty-squirrel-privacy-and-security-issues-with-uc-browser/">披露说</a>，UC浏览器的中文版会在空闲时收集用户的各种隐私信息（包括搜索查询词，用户设备识别码，地理位置数据等），不加密发送给某科技公司的服务器。</p>
<p>然而，据说UC的英文版则没有这种恶心的行为。。。</p>
<p>我发现自己总喜欢犯贱，明明不只一次听别人说尽量不要用国内的软件，我还就是屁颠屁颠地专往坑里跳。</p>
<p>得，这次您总算是把我恶心吐了。</p>
<p>惹不起我还躲不起，删，删，删。</p></body></html>
                </div>
                <div id="content-comments">
                    <!-- 多说评论框 start -->
                    <div class="ds-thread" data-thread-key="/life/2015-04-recent-tucao.html" data-title="针对近期各种新闻和事件的吐槽(2)" data-url="http://blog.atime.me/life/2015-04-recent-tucao.html">
                    </div>
                    <!-- 多说评论框 end -->
                    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
                    <script type="text/javascript">
                        var duoshuoQuery = { short_name: 'atime-me' };
                        (function() {
                            var ds = document.createElement('script');
                            ds.type = 'text/javascript';ds.async = true;
                            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                            ds.charset = 'UTF-8';
                            (document.getElementsByTagName('head')[0] 
                             || document.getElementsByTagName('body')[0]).appendChild(ds);
                        })();
                    </script>
                    <!-- 多说公共JS代码 end -->
                </div>

            </div>
            <div class="niu2-right-container col-md-2">
                <div id="niu2-sidebar-meta" class="niu2-sidebar">
                    <div class="niu2-sidebar-label"><i class="icon-calendar"></i>发布时间:</div>
                    <div class="niu2-sidebar-value">2015-04-28 22:03</div>
                    <div class="niu2-sidebar-label"><i class="icon-pencil" style="font-size: 1.05em;"></i>最后修改:</div>
                    <div class="niu2-sidebar-value">2015-05-21 23:07</div>
                    <div class="niu2-sidebar-label"><i class="icon-coffee"></i>分类:</div>
                    <div class="niu2-sidebar-value"><a href="http://blog.atime.me/life/index.html">日常</a></div>
                    <div class="niu2-sidebar-label"><i class="icon-tag"></i>标签:</div>
                    <div class="niu2-sidebar-inter-value niu2-sidebar-tag"><a href="http://blog.atime.me/tag/tu-cao.html">吐槽</a><sup>3</sup></div>
                    <div class="niu2-sidebar-inter-value niu2-sidebar-tag"><a href="http://blog.atime.me/tag/jin-qi-tu-cao.html">近期吐槽</a><sup>2</sup></div>
                </div>

                <div id="niu2-sidebar-toc" class="niu2-sidebar" data-status="closed">
                    <div class="niu2-sidebar-label">
                        <i id="niu2-sidebar-toc-ctrl" class="icon-open-tocs"></i>目录
                    </div>
                    <ol id="niu2-sidebar-toc-list">
                        <li><a href="#content-heading">针对近期各种新闻和事件的吐槽(2)</a></li>
                        <li><a href='#138653'>将整风运动进行到底</a></li><li><a href='#3b3fcd'>反正我是信了</a></li><li><a href='#f454fb'>会哭的孩子有奶喝</a></li><li><a href='#28234a'>能赚钱的牛就是好牛</a></li><li><a href='#e55772'>一切皆有可能</a></li><li><a href='#377cf8'>呵呵不是骂人</a></li><li><a href='#01c392'>这就是属于我们的现实</a></li>
                        <li><a href="#content-comments">评论</a></li>
                    </ol>
                </div>
            </div>
            <div id="niu2-toolbar">
                <ul class="list-unstyled">
                    <li><a id="niu2-toolbar-ctrlsidebar" href="#" title="隐藏侧边栏"><i class="icon-3x icon-hide-sidebar"></i></a></li>
                </ul>
                <div id="niu2-toolbar-showsidebar" data-title="显示侧边栏"></div>
                <div id="niu2-toolbar-github" data-repo=""></div>
                <div id="niu2-toolbar-bitbucket" data-repo=""></div>
            </div>
        </div>

        <div class="niu2-footer">
            <div id="body-footer" class="col-md-6 col-md-offset-2">
                <hr/>
                <p>
                    Powered by <a href="https://github.com/getpelican/pelican">Pelican</a>, 
                    <a href="https://github.com/mawenbao/niu-x2-sidebar">theme</a> built with <a href="http://getbootstrap.com">Bootstrap3</a>
                    by <a href="http://blog.atime.me">Ma Wenbao</a>, icons by 
                    <a href="http://fortawesome.github.io/Font-Awesome">Font Awesome</a>.
                </p>
                <p>
                    ©
                            2009-2015
                    <a class="niu2-footer-link" href="http://blog.atime.me">Ma Wenbao</a>
                    /                         <a class="niu2-footer-link" href="/about.html" title="about me">关于</a>
                    /                         <a class="niu2-footer-link" href="/agreement.html" title="terms, license and privacy etc.">使用协议</a>
                    /                         <a class="niu2-footer-link" href="http://www.miitbeian.gov.cn/" title="备案号">沪ICP备14018579号-1</a>
                </p>
                <p class="niu2-icons">
                    <a class="niu2-footer-icon" href="/my_gnupg.html" title="my public key">
                        <i class="icon-key icon-lg"></i>
                    </a>
                    <a class="niu2-footer-icon" href="mailto: mwenbao@gmail.com" title="my email address">
                        <i class="icon-envelope-o icon-lg"></i>
                    </a>
                    <a class="niu2-footer-icon" href="http://github.com/mawenbao" title="my github page">
                        <i class="icon-github-alt icon-lg"></i>
                    </a>
                    <a class="niu2-footer-icon" href="/feed.xml" title="subscribe to my blog">
                        <i class="icon-rss icon-lg"></i>
                    </a>
                </p>
            </div>
        </div>

        <script type="text/javascript">
            var _gaq=_gaq||[];
            _gaq.push(["_setAccount","UA-45005256-1"]);
            _gaq.push(["_trackPageview"]);
            (function(){
                var b=document.createElement("script");
                b.type="text/javascript";
                b.async=true;
                b.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";
                var a=document.getElementsByTagName("script")[0];
                a.parentNode.insertBefore(b,a)
            })();
        </script>
        <div id="niu2-pygments" data-theme="github"></div>
        <div id="niu2-lazy-load" data-loading-txt="orz 努力加载中" data-loading-icon="icon-spin icon-spinner2"></div>
        <div id="niu2-toolbar-load" data-loading-icon="icon-spin icon-4x icon-spinner9"></div>
        <script type="text/javascript" src="http://cdn.atime.me/jquery/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="http://blog.atime.me/theme/js/niu2.min.js"></script>
        <script type="text/javascript" src="http://cdn.atime.me/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            onContentLoaded();
        </script>
    </body>
</html>